:root {
    --primary-color: #F4F4F5;
    --secondary-color: #9CA3AF;
    --tertiary-color:#4B5563;
    --primary-fill-color: #1F2937;
    --ink-black:#202020;
    --font-family: Arial, sans-serif;
    --font-title: 124px;
    --font-header: 64px;
    --font-subheader: 32px;
    --font-body-large: 24px;
    --font-body-medium: 16px;
    --font-scaler: 1.2;
    --site-margin: 0rem;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    margin: 0rem;
    padding: 0rem;
}

/* ----- Hero Section ----- */
.hero {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    background-size: cover;
    justify-content: center;
    text-align: center;
}

.hero-name {
    font-family: var(--font-family);
    font-size: var(--font-title);
    margin: 0rem;
    padding-top: 1em;
}

.hero-subname {
    font-size: var(--font-subheader);
    margin: 0rem;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

/* ----- Navigation Section ----- */
.navbar {
    background-color: var(--primary-fill-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 5em;
}

.nav-links a {
    color: var(--primary-color);
    font-size: var(--font-body-large);
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.5s
}

/* ----- Body Section ----- */
.item-details {
    color: var(--ink-black);
    font-size: var(--font-body-medium);
    margin: 0rem;
    padding: 2em;
    place-items: center;
    text-align: justify;
}

.item-title {
    font-size: var(--font-header);
}

.item-body {
    max-width: 50rem;
    min-width: 15rem;
    line-height: 1.5;
    gap: 1rem;
}

.item-details iframe {
    border: 1px solid var(--ink-black);
    justify-content: center;
    width: calc(100% - 20%);
    height: 50rem;
    margin-left: 10%;
    margin-right: 10%;
}

/* ----- Project Section ----- */
.item-project {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 40rem;
    min-width: 15rem;
    gap: 10rem;
}

.item-project-box {
    background-color: var(--secondary-color);
    padding: 1rem;
    width: 50em;
    height: auto;
}

.item-project-title {
    color: var(--ink-black);
    font-family: var(--font-family);
    font-size: var(--font-body-medium);
    font-weight: bold;
    margin-bottom: 1rem;
    min-width: 15rem;
}

.item-project-image img {
    width: 100%;
    height: auto;
}

/* ----- Footer item----- */
.div-footer {
    background-color: var(--primary-fill-color);
    padding: 2em;
    display: flex;
    justify-content:space-around;
}

.footer-name {
    color: var(--tertiary-color);
    font-family: var(--font-family);
    font-size: var(--font-body-medium);
    font-weight: bold;
}

.footer-degree {
    color: var(--tertiary-color);
    font-family: var(--font-family);
    font-size: var(--font-body-medium);
    font-weight: bold;
}